
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg">
    <div class="introText">
      <p>
        They did it. The Twins, long known as a ballclub with a power shortage, broke Major League Baseball’s single-season home run record this summer. It took them just 135 games to hit 268 home runs, breaking the previous record of 267, set just last summer by the New York Yankees. Can they get to 300? We’ll see.
      </p>
      <p>
        In the charts below, see how many “bombas” they have hit, where those home runs have gone and which players have hit the most. Charts and home run totals will be updated after each series.
      </p>
      <p>
        Spray charts and statistics current as of Sept. 16, 2019.
      </p>
    </div>


    <div id="chart">
      <select id="playerSelector">
        <option id="allHomeruns" value="allHomeruns">All home runs</option>
      </select>
    </div>


      <div id="Nelson_Cruz" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-cruz-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Nelson Cruz</h3>
            <ul>
              <li>
                On pace for: <span class="bold">39</span>
              </li>
              <li>
                Longest home run: <span class="bold">473 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Cruz is the first Twins player to have two three-homer games in a season and the first player 39 or older in major league history to accomplish the feat.
        </p>
      </div>

      <div id="Max_Kepler" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-kepler-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Max Kepler</h3>
            <ul>
              <li>
                On pace for: <span class="bold">40</span>
              </li>
              <li>
                Longest home run: <span class="bold">438 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          He has hit 29 of his home runs while batting in the leadoff spot, which leads the major leagues. Harmon Killebrew is only Twin to reach 30 HRs in a season more quickly.
        </p>
      </div>

      <div id="Eddie_Rosario" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-rosario-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Eddie Rosario</h3>
            <ul>
              <li>
                On pace for: <span class="bold">31</span>
              </li>
              <li>
                Longest home run: <span class="bold">421 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Rosario led the Twins last season with 24 home runs (they hit 166 as a team). A notorious bad-ball hitter, he swings at 45% of pitches outside the strike zone.
        </p>
      </div>

      <div id="Mitch_Garver" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-garver-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Mitch Garver</h3>
            <ul>
              <li>
                On pace for: <span class="bold">32</span>
              </li>
              <li>
                Longest home run: <span class="bold">426 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Garver has the second-most home runs among big-league catchers and is the third Twins catcher, after Earl Battey and Joe Mauer, with 20 or more in a season.
        </p>
      </div>

      <div id="Miguel_Sano" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-sano-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Miguel Sano</h3>
            <ul>
              <li>
                On pace for: <span class="bold">30</span>
              </li>
              <li>
                Longest home run: <span class="bold">457 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Sano is the fastest player in Twins history to reach 100 homers (432 games). He missed the first month of the season (foot laceration), but came back strong.
        </p>
      </div>

      <div id="C_J__Cron" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-cron-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">C.J. Cron</h3>
            <ul>
              <li>
                On pace for: <span class="bold">27</span>
              </li>
              <li>
                Longest home run: <span class="bold">453 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Two stints on the injured list (sore thumb) might keep Cron, in his first season with the Twins, from breaking his career high of 30, set last season with Tampa Bay.
        </p>
      </div>

      <div id="Jorge_Polanco" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-polanco-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Jorge Polanco</h3>
            <ul>
              <li>
                On pace for: <span class="bold">22</span>
              </li>
              <li>
                Longest home run: <span class="bold">425 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          The All-Star starter is in the top 10 in the AL in hits, doubles, triples and total bases. He already has the fourth-highest WAR in a season for a Twins shortstop.
        </p>
      </div>

      <div id="Jonathan_Schoop" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-schoop-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Jonathan Schoop</h3>
            <ul>
              <li>
                On pace for: <span class="bold">23</span>
              </li>
              <li>
                Longest home run: <span class="bold">467 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Schoop, who hit 32 home runs in 2017 with Baltimore, has the third-most home runs in the AL among second basemen. He’s cooled off since the All-Star break but remains a key bat.
        </p>
      </div>

      <div id="Marwin_Gonzalez" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-gonzalez-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Marwin Gonzalez</h3>
            <ul>
              <li>
                On pace for: <span class="bold">17</span>
              </li>
              <li>
                Longest home run: <span class="bold">437 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Another free-agent signee, Gonzalez is baseball’s most versatile player, with 48 games in the outfield, 39 at third, 15 at first, two at second and one at shortstop.
        </p>
      </div>

      <div id="Jason_Castro" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-castro-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Jason Castro</h3>
            <ul>
              <li>
                On pace for: <span class="bold">13</span>
              </li>
              <li>
                Longest home run: <span class="bold">443 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Castro missed most of 2018 because of knee surgery, allowing Garver to receive more playing time. Castro has hit double-digit homers six of the past seven seasons.
        </p>
      </div>

      <div id="Byron_Buxton" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-buxton-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Byron Buxton</h3>
            <ul>
              <li>
                On pace for: <span class="bold">11</span>
              </li>
              <li>
                Longest home run: <span class="bold">454 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          An oddity: Buxton, currently on the injured list, has the Twins’ only grand slam this season, coming May 18 at Seattle. Might be baseball’s best defensive outfielder.
        </p>
      </div>

      <div id="Ehire_Adrianza" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns--ehire-adrianza-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Ehire Adrianza</h3>
            <ul>
              <li>
                On pace for: <span class="bold">6</span>
              </li>
              <li>
                Longest home run: <span class="bold">414 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          A switch hitter like Gonzalez and Polanco, Adrianza hasn’t homered since May 25.  Had a memorable shot off Houston’s Justin Verlander in a 1-0 victory on April 29.
        </p>
      </div>

      <div id="Willians_Astudillo" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-astudillo-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Willians Astudillo</h3>
            <ul>
              <li>
                On pace for: <span class="bold">3</span>
              </li>
              <li>
                Longest home run: <span class="bold">420 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          He’s back from an injury. Astudillo loves to put the ball in play. His number of walks and strikeouts likely will remain low all season.
        </p>
      </div>

      <div id="Luis_Arraez" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-arraez-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Luis Arraez</h3>
            <ul>
              <li>
                On pace for: <span class="bold">3</span>
              </li>
              <li>
                Longest home run: <span class="bold">392 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
            Called up in the middle of May, he’s leading the team in hitting (.348) and reached 50 hits in 42 games, second fastest in Twins history (Kirby Puckett did it in 36).
        </p>
      </div>

      <div id="Jake_Cave" class="player center" style="display:none">
        <div class="statcastInfo">
          <div class="twin-mug">
            <img src="https://ststatic.stimg.co/news/sports/homeruns/mugs/homeruns-cave-BW.jpg?h=100&w=100"/>
          </div>
          <div class="playerInfo">
            <h3 class="playerName">Jake Cave</h3>
            <ul>
              <li>
                On pace for: <span class="bold">8</span>
              </li>
              <li>
                Longest home run: <span class="bold">437 feet</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Cave has played all three outfield positions and has put together a nice second half of the season.
        </p>
      </div>

    <div id="creditText">
        <p>
          Note: Spray charts and statistics obtained from <a href="https://baseballsavant.mlb.com/">baseballsavant.mlb.com</a>.
          The field shown in the spray charts is modeled after Kauffman Stadium, the home of the Kansas City Royals.
          Due to the variation in fence distances at each ballpark, some dots may render inside the field of play.
        </p>
        <p>
          MLB Statcast collects spray chart data by hand, and occasionally a home run goes uncharted.
          Seven of the Twins home runs are unaccounted for, according to Statcast data. The Star Tribune used videos of these home runs as well as Statcast data to estimate landing points for the unplotted home runs.
        </p>
    </div>

  </section>
</div>




<script>
  export default {
    oncreate() {
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
